# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data folders
data/
archive/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Node
node_modules/
dist/
.DS_Store
